In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv(r"C:\Users\Sushant\Desktop\Ankita\Datasets\CarPrice.csv")
dataset

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [4]:
data=dataset[["CarName","fueltype","carlength","carwidth","carheight","price"]]
data

,CarName,fueltype,carlength,carwidth,carheight,price
0,alfa-romero giulia,gas,168.8,64.1,48.8,13495.0
1,alfa-romero stelvio,gas,168.8,64.1,48.8,16500.0
2,alfa-romero Quadrifoglio,gas,171.2,65.5,52.4,16500.0
3,audi 100 ls,gas,176.6,66.2,54.3,13950.0
4,audi 100ls,gas,176.6,66.4,54.3,17450.0
...,...,...,...,...,...,...
200,volvo 145e (sw),gas,188.8,68.9,55.5,16845.0
201,volvo 144ea,gas,188.8,68.8,55.5,19045.0
202,volvo 244dl,gas,188.8,68.9,55.5,21485.0
203,volvo 246,diesel,188.8,68.9,55.5,22470.0
204,volvo 264gl,gas,188.8,68.9,55.5,22625.0

In [5]:
data["new"]=np.nan
data

C:\Users\Sushant\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,CarName,fueltype,carlength,carwidth,carheight,price,new
0,alfa-romero giulia,gas,168.8,64.1,48.8,13495.0,NaN
1,alfa-romero stelvio,gas,168.8,64.1,48.8,16500.0,NaN
2,alfa-romero Quadrifoglio,gas,171.2,65.5,52.4,16500.0,NaN
3,audi 100 ls,gas,176.6,66.2,54.3,13950.0,NaN
4,audi 100ls,gas,176.6,66.4,54.3,17450.0,NaN
...,...,...,...,...,...,...,...
200,volvo 145e (sw),gas,188.8,68.9,55.5,16845.0,NaN
201,volvo 144ea,gas,188.8,68.8,55.5,19045.0,NaN
202,volvo 244dl,gas,188.8,68.9,55.5,21485.0,NaN
203,volvo 246,diesel,188.8,68.9,55.5,22470.0,NaN
204,volvo 264gl,gas,188.8,68.9,55.5,22625.0,NaN

In [6]:
data.insert(1,"index",np.nan)
data

,CarName,index,fueltype,carlength,carwidth,carheight,price,new
0,alfa-romero giulia,NaN,gas,168.8,64.1,48.8,13495.0,NaN
1,alfa-romero stelvio,NaN,gas,168.8,64.1,48.8,16500.0,NaN
2,alfa-romero Quadrifoglio,NaN,gas,171.2,65.5,52.4,16500.0,NaN
3,audi 100 ls,NaN,gas,176.6,66.2,54.3,13950.0,NaN
4,audi 100ls,NaN,gas,176.6,66.4,54.3,17450.0,NaN
...,...,...,...,...,...,...,...,...
200,volvo 145e (sw),NaN,gas,188.8,68.9,55.5,16845.0,NaN
201,volvo 144ea,NaN,gas,188.8,68.8,55.5,19045.0,NaN
202,volvo 244dl,NaN,gas,188.8,68.9,55.5,21485.0,NaN
203,volvo 246,NaN,diesel,188.8,68.9,55.5,22470.0,NaN
204,volvo 264gl,NaN,gas,188.8,68.9,55.5,22625.0,NaN

In [7]:
data["index"].fillna("xyz",inplace=True)
data

C:\Users\Sushant\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,CarName,index,fueltype,carlength,carwidth,carheight,price,new
0,alfa-romero giulia,xyz,gas,168.8,64.1,48.8,13495.0,NaN
1,alfa-romero stelvio,xyz,gas,168.8,64.1,48.8,16500.0,NaN
2,alfa-romero Quadrifoglio,xyz,gas,171.2,65.5,52.4,16500.0,NaN
3,audi 100 ls,xyz,gas,176.6,66.2,54.3,13950.0,NaN
4,audi 100ls,xyz,gas,176.6,66.4,54.3,17450.0,NaN
...,...,...,...,...,...,...,...,...
200,volvo 145e (sw),xyz,gas,188.8,68.9,55.5,16845.0,NaN
201,volvo 144ea,xyz,gas,188.8,68.8,55.5,19045.0,NaN
202,volvo 244dl,xyz,gas,188.8,68.9,55.5,21485.0,NaN
203,volvo 246,xyz,diesel,188.8,68.9,55.5,22470.0,NaN
204,volvo 264gl,xyz,gas,188.8,68.9,55.5,22625.0,NaN

In [8]:
data["fueltype"].replace("gas","air_gas",inplace=True)
data

C:\Users\Sushant\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,CarName,index,fueltype,carlength,carwidth,carheight,price,new
0,alfa-romero giulia,xyz,air_gas,168.8,64.1,48.8,13495.0,NaN
1,alfa-romero stelvio,xyz,air_gas,168.8,64.1,48.8,16500.0,NaN
2,alfa-romero Quadrifoglio,xyz,air_gas,171.2,65.5,52.4,16500.0,NaN
3,audi 100 ls,xyz,air_gas,176.6,66.2,54.3,13950.0,NaN
4,audi 100ls,xyz,air_gas,176.6,66.4,54.3,17450.0,NaN
...,...,...,...,...,...,...,...,...
200,volvo 145e (sw),xyz,air_gas,188.8,68.9,55.5,16845.0,NaN
201,volvo 144ea,xyz,air_gas,188.8,68.8,55.5,19045.0,NaN
202,volvo 244dl,xyz,air_gas,188.8,68.9,55.5,21485.0,NaN
203,volvo 246,xyz,diesel,188.8,68.9,55.5,22470.0,NaN
204,volvo 264gl,xyz,air_gas,188.8,68.9,55.5,22625.0,NaN

In [9]:
del data["price"]
data

,CarName,index,fueltype,carlength,carwidth,carheight,new
0,alfa-romero giulia,xyz,air_gas,168.8,64.1,48.8,NaN
1,alfa-romero stelvio,xyz,air_gas,168.8,64.1,48.8,NaN
2,alfa-romero Quadrifoglio,xyz,air_gas,171.2,65.5,52.4,NaN
3,audi 100 ls,xyz,air_gas,176.6,66.2,54.3,NaN
4,audi 100ls,xyz,air_gas,176.6,66.4,54.3,NaN
...,...,...,...,...,...,...,...
200,volvo 145e (sw),xyz,air_gas,188.8,68.9,55.5,NaN
201,volvo 144ea,xyz,air_gas,188.8,68.8,55.5,NaN
202,volvo 244dl,xyz,air_gas,188.8,68.9,55.5,NaN
203,volvo 246,xyz,diesel,188.8,68.9,55.5,NaN
204,volvo 264gl,xyz,air_gas,188.8,68.9,55.5,NaN

In [14]:
data.rename(columns={"CarName":"cars"})

,cars,index,fueltype,carlength,carwidth,carheight,new
0,alfa-romero giulia,xyz,air_gas,168.8,64.1,48.8,NaN
1,alfa-romero stelvio,xyz,air_gas,168.8,64.1,48.8,NaN
2,alfa-romero Quadrifoglio,xyz,air_gas,171.2,65.5,52.4,NaN
3,audi 100 ls,xyz,air_gas,176.6,66.2,54.3,NaN
4,audi 100ls,xyz,air_gas,176.6,66.4,54.3,NaN
...,...,...,...,...,...,...,...
200,volvo 145e (sw),xyz,air_gas,188.8,68.9,55.5,NaN
201,volvo 144ea,xyz,air_gas,188.8,68.8,55.5,NaN
202,volvo 244dl,xyz,air_gas,188.8,68.9,55.5,NaN
203,volvo 246,xyz,diesel,188.8,68.9,55.5,NaN
204,volvo 264gl,xyz,air_gas,188.8,68.9,55.5,NaN