In [1]:
import numpy as np
import pandas as pd

In [2]:
plant = pd.read_csv(r"C:\Users\Kajal\Desktop\ssd\Desktop\dataset work November\datasets\global_power_plants.csv")
plant

C:\Users\Kajal\.conda\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:3417: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,$ 33,32.3220,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,119.50
1,AFG,Afghanistan,Kandahar DOG,10,31.6700,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.29
2,AFG,Afghanistan,Kandahar JOL,10,31.6230,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66,34.5560,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100,34.6410,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,350.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34931,ZMB,Zambia,Ndola,50.0,-12.9667,28.6333,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,183.79
34932,ZMB,Zambia,Nkana,20.0,-12.8167,28.2000,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,73.51
34933,ZMB,Zambia,Victoria Falls,108.0,-17.9167,25.8500,Hydro,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,578.32
34934,ZWE,Zimbabwe,Hwange Coal Power Plant Zimbabwe,920.0,-18.3835,26.4700,Coal,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,2785.10
34935,ZWE,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.0,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,3960.24

In [3]:
plant["secondary fuel"].unique()

array([nan, 'Oil', 'Solar', 'Gas', 'Other', 'Hydro', 'Coal', 'Petcoke',
       'Biomass', 'Waste', 'Cogeneration', 'Storage', 'Wind'],
      dtype=object)

In [4]:
plant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34936 entries, 0 to 34935
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country code                   34936 non-null  object
 1   country                        34936 non-null  object
 2   name of powerplant             34936 non-null  object
 3   capacity in MW                 34936 non-null  object
 4   latitude                       34936 non-null  float64
 5   longitude                      34936 non-null  float64
 6   primary_fuel                   34936 non-null  object
 7   secondary fuel                 1944 non-null   object
 8   other_fuel 1                   276 non-null    object
 9   other_fuel 2                   92 non-null     object
 10  start date                     17447 non-null  float64
 11  owner of plant                 20868 non-null  object
 12  geolocation_source             34517 non-null  object
 13  generation_gwh_2020            9659 non-null   float64
 14  generation_data_source         11400 non-null  object
 15  estimated_generation_gwh_2020  33138 non-null  float64
dtypes: float64(5), object(11)
memory usage: 4.3+ MB

In [5]:
plant.describe()

,latitude,longitude,start date,generation_gwh_2020,estimated_generation_gwh_2020
count,34936.000000,34936.000000,17447.000000,9659.000000,33138.000000
mean,32.816637,-6.972803,1997.414823,423.922436,716.443378
std,22.638603,78.405850,23.397835,1698.506485,2484.361200
min,-77.847000,-179.977700,1896.000000,-780.339000,0.000000
25%,29.256475,-77.641550,1988.000000,2.751500,8.180000
50%,39.727750,-2.127100,2007.000000,11.530000,37.590000
75%,46.263125,49.502675,2014.000000,122.781498,229.565000
max,71.292000,179.388700,2020.000000,31920.368000,82810.770000

In [6]:
plant.isnull().any()

country code                     False
country                          False
name of powerplant               False
capacity in MW                   False
latitude                         False
longitude                        False
primary_fuel                     False
secondary fuel                    True
other_fuel 1                      True
other_fuel 2                      True
start date                        True
owner of plant                    True
geolocation_source                True
generation_gwh_2020               True
generation_data_source            True
estimated_generation_gwh_2020     True
dtype: bool

In [7]:
plant.isnull().sum()

country code                         0
country                              0
name of powerplant                   0
capacity in MW                       0
latitude                             0
longitude                            0
primary_fuel                         0
secondary fuel                   32992
other_fuel 1                     34660
other_fuel 2                     34844
start date                       17489
owner of plant                   14068
geolocation_source                 419
generation_gwh_2020              25277
generation_data_source           23536
estimated_generation_gwh_2020     1798
dtype: int64

# Q.1. find the categories of country column

In [8]:
plant["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antarctica',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chile', 'China', 'Colombia', 'Congo',
       'Costa Rica', 'Cote DIvoire', 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Democratic Republic of the Congo', 'Denmark',
       'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'French Guiana', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia',
       'Mali', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Lucia', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States of America', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Western Sahara', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

# Q.2. Calculate the count of india primary fuel hydro

In [9]:
hydro = plant.loc[(plant["country"]=="India") & (plant["primary_fuel"]=="Hydro"),["country","primary_fuel"]]
hydro

      country primary_fuel
14058   India        Hydro
14059   India        Hydro
14060   India        Hydro
14063   India        Hydro
14065   India        Hydro
...       ...          ...
15575   India        Hydro
15587   India        Hydro
15588   India        Hydro
15615   India        Hydro
15616   India        Hydro

[233 rows x 2 columns]

In [10]:
hydro.count()

country         233
primary_fuel    233
dtype: int64

# Q.3 find the top 10 name of power plants

In [11]:
plant

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,$ 33,32.3220,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,119.50
1,AFG,Afghanistan,Kandahar DOG,10,31.6700,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.29
2,AFG,Afghanistan,Kandahar JOL,10,31.6230,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66,34.5560,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100,34.6410,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,350.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34931,ZMB,Zambia,Ndola,50.0,-12.9667,28.6333,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,183.79
34932,ZMB,Zambia,Nkana,20.0,-12.8167,28.2000,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,73.51
34933,ZMB,Zambia,Victoria Falls,108.0,-17.9167,25.8500,Hydro,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,578.32
34934,ZWE,Zimbabwe,Hwange Coal Power Plant Zimbabwe,920.0,-18.3835,26.4700,Coal,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,2785.10
34935,ZWE,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.0,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,3960.24

In [12]:
plant["name of powerplant"].unique()

array(['Kajaki Hydroelectric Power Plant Afghanistan', 'Kandahar DOG',
       'Kandahar JOL', ..., 'Victoria Falls',
       'Hwange Coal Power Plant Zimbabwe',
       'Kariba Dam South Hydroelectric Power Station Zimbabwe'],
      dtype=object)

In [13]:
power = plant["name of powerplant"].value_counts()
power.head(10)

Santo AntÃ´nio    6
SÃ£o JosÃ©         5
Santa Helena     5
Santa Rosa       5
Funil            5
Buriti           4
Santa Maria      4
SÃ£o Domingos     4
Salto            4
SÃ£o Pedro        4
Name: name of powerplant, dtype: int64

# Q.4. Calculate the top 5 Afghanistan power plant names

In [14]:
afg = plant.loc[(plant["country"]=="Afghanistan"),["country","name of powerplant"]]
afg

       country                                 name of powerplant
0  Afghanistan       Kajaki Hydroelectric Power Plant Afghanistan
1  Afghanistan                                       Kandahar DOG
2  Afghanistan                                       Kandahar JOL
3  Afghanistan      Mahipar Hydroelectric Power Plant Afghanistan
4  Afghanistan   Naghlu Dam Hydroelectric Power Plant Afghanistan
5  Afghanistan  Nangarhar (Darunta) Hydroelectric Power Plant ...
6  Afghanistan            Northwest Kabul Power Plant Afghanistan
7  Afghanistan  Pul-e-Khumri Hydroelectric Power Plant Afghani...
8  Afghanistan   Sarobi Dam Hydroelectric Power Plant Afghanistan

In [15]:
afg_1 = afg["name of powerplant"].value_counts()
afg_1.head(5)

Kajaki Hydroelectric Power Plant Afghanistan        1
Kandahar DOG                                        1
Kandahar JOL                                        1
Mahipar Hydroelectric Power Plant Afghanistan       1
Naghlu Dam Hydroelectric Power Plant Afghanistan    1
Name: name of powerplant, dtype: int64

# Q.5. Calculate the top 10 India power plant names

In [16]:
india = plant.loc[(plant["country"]=="India"),["country","name of powerplant"]]
india

      country        name of powerplant
14052   India          ACME Solar Tower
14053   India       ADITYA CEMENT WORKS
14054   India  AES Saurashtra Windfarms
14055   India               AGARTALA GT
14056   India              AKALTARA TPP
...       ...                       ...
15636   India                  Yellapur
15637   India               ZAWAR MINES
15638   India                Zaheerabad
15639   India              Zaheerabad 2
15640   India   iEnergy Theni Wind Farm

[1589 rows x 2 columns]

In [17]:
india_1 = india["name of powerplant"].value_counts()
india_1.head(10)

ACME Solar Tower      1
PARBHANI GANGAKHED    1
PARAS                 1
PAPANASAM             1
PANNIAR               1
PANIPAT               1
PANCHET               1
PAMPORE GT            1
PALLIVASAL            1
PALATANA CCPP         1
Name: name of powerplant, dtype: int64

# Q.6. fetch the zambia power plant names with its capacity

In [18]:
plant

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,$ 33,32.3220,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,119.50
1,AFG,Afghanistan,Kandahar DOG,10,31.6700,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.29
2,AFG,Afghanistan,Kandahar JOL,10,31.6230,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66,34.5560,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100,34.6410,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,350.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34931,ZMB,Zambia,Ndola,50.0,-12.9667,28.6333,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,183.79
34932,ZMB,Zambia,Nkana,20.0,-12.8167,28.2000,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,73.51
34933,ZMB,Zambia,Victoria Falls,108.0,-17.9167,25.8500,Hydro,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,578.32
34934,ZWE,Zimbabwe,Hwange Coal Power Plant Zimbabwe,920.0,-18.3835,26.4700,Coal,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,2785.10
34935,ZWE,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.0,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,3960.24

In [19]:
zambia = plant.loc[(plant["country"]=="Zambia"),["country","name of powerplant","capacity in MW"]]
zambia

      country   name of powerplant capacity in MW
34919  Zambia  Bancroft Copperbelt           20.0
34920  Zambia        Itezhi- Tezhi          120.0
34921  Zambia                Kafue           47.5
34922  Zambia          Kafue Gorge          990.0
34923  Zambia               Kariba          930.0
34924  Zambia                Luano           40.0
34925  Zambia     Luanshya Nchanga           14.6
34926  Zambia               Lusaka           15.0
34927  Zambia             Lusiwasi           12.0
34928  Zambia         Maamba plant          300.0
34929  Zambia     Mufulira Nchanga           10.0
34930  Zambia      Nakambala Sugar         12.237
34931  Zambia                Ndola           50.0
34932  Zambia                Nkana           20.0
34933  Zambia       Victoria Falls          108.0

# Q.7. find the Australia data with its top 5 primary fuels

In [20]:
Aus = plant.loc[(plant["country"]=="Australia"),["country","primary_fuel"]]
Aus

       country primary_fuel
336  Australia        Solar
337  Australia         Wind
338  Australia          Oil
339  Australia          Oil
340  Australia         Coal
..         ...          ...
817  Australia        Hydro
818  Australia          Gas
819  Australia        Solar
820  Australia          Gas
821  Australia          Gas

[486 rows x 2 columns]

In [21]:
Aus_1 = Aus["primary_fuel"].value_counts()
Aus_1

Gas        134
Hydro       73
Solar       69
Wind        65
Waste       50
Oil         42
Coal        28
Biomass     25
Name: primary_fuel, dtype: int64

In [22]:
Aus_1.head(5)

Gas      134
Hydro     73
Solar     69
Wind      65
Waste     50
Name: primary_fuel, dtype: int64

# Q.8. Calculate the count of Santo AntÃ´nio power plant with country name

In [23]:
santo = plant.loc[(plant["name of powerplant"]=="Santo AntÃ´nio"),["country","name of powerplant"]]
santo

     country name of powerplant
3024  Brazil      Santo AntÃ´nio
3025  Brazil      Santo AntÃ´nio
3026  Brazil      Santo AntÃ´nio
3027  Brazil      Santo AntÃ´nio
3028  Brazil      Santo AntÃ´nio
3029  Brazil      Santo AntÃ´nio

In [24]:
santo.count()

country               6
name of powerplant    6
dtype: int64

# Q.9. Find the top 10 country name those latitude is greater than equal to 50

In [25]:
plant

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,$ 33,32.3220,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,119.50
1,AFG,Afghanistan,Kandahar DOG,10,31.6700,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.29
2,AFG,Afghanistan,Kandahar JOL,10,31.6230,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66,34.5560,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100,34.6410,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,350.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34931,ZMB,Zambia,Ndola,50.0,-12.9667,28.6333,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,183.79
34932,ZMB,Zambia,Nkana,20.0,-12.8167,28.2000,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,73.51
34933,ZMB,Zambia,Victoria Falls,108.0,-17.9167,25.8500,Hydro,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,578.32
34934,ZWE,Zimbabwe,Hwange Coal Power Plant Zimbabwe,920.0,-18.3835,26.4700,Coal,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,2785.10
34935,ZWE,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.0,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,3960.24

In [26]:
country = plant.loc[(plant["latitude"]>=50.0),["country","latitude"]]
country

                        country  latitude
1004                    Belarus   52.4538
1005                    Belarus   53.6400
1006                    Belarus   53.6250
1007                    Belarus   53.1895
1008                    Belarus   51.7840
...                         ...       ...
33822  United States of America   55.5407
34214  United States of America   53.8585
34288  United States of America   55.3281
34458  United States of America   56.4610
34488  United States of America   59.5446

[5850 rows x 2 columns]

In [27]:
country_1 = country[["country","latitude"]].value_counts()
country_1

country                   latitude
United Kingdom            55.9050     6
Finland                   67.4167     6
                          62.8924     5
                          61.4991     5
                          61.0587     4
                                     ..
Norway                    61.5815     1
                          61.5801     1
                          61.5761     1
                          61.5662     1
United States of America  71.2920     1
Length: 5519, dtype: int64

In [28]:
country_1.head(10)

country         latitude
United Kingdom  55.9050     6
Finland         67.4167     6
                62.8924     5
                61.4991     5
                61.0587     4
Germany         51.2998     4
United Kingdom  54.9410     4
Finland         63.8333     3
United Kingdom  54.8908     3
Finland         65.9667     3
dtype: int64

# Q.10. Find the power plant name those having longitude in between 30 to 70

In [29]:
plant

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,$ 33,32.3220,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,119.50
1,AFG,Afghanistan,Kandahar DOG,10,31.6700,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.29
2,AFG,Afghanistan,Kandahar JOL,10,31.6230,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66,34.5560,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100,34.6410,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,350.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34931,ZMB,Zambia,Ndola,50.0,-12.9667,28.6333,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,183.79
34932,ZMB,Zambia,Nkana,20.0,-12.8167,28.2000,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,73.51
34933,ZMB,Zambia,Victoria Falls,108.0,-17.9167,25.8500,Hydro,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,578.32
34934,ZWE,Zimbabwe,Hwange Coal Power Plant Zimbabwe,920.0,-18.3835,26.4700,Coal,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,2785.10
34935,ZWE,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.0,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,3960.24

In [30]:
longitude = plant.loc[(plant["longitude"]>=30) & (plant["longitude"]<=70),["name of powerplant","longitude"]]
longitude

                                     name of powerplant  longitude
0          Kajaki Hydroelectric Power Plant Afghanistan    65.1190
1                                          Kandahar DOG    65.7950
2                                          Kandahar JOL    65.7920
3         Mahipar Hydroelectric Power Plant Afghanistan    69.4787
4      Naghlu Dam Hydroelectric Power Plant Afghanistan    69.7170
...                                                 ...        ...
34915                                            Dhaban    44.1863
34916                                        Khormaksar    45.0279
34917                                             Marib    45.7717
34918                                       Ras Kanatib    42.9113
34927                                          Lusiwasi    30.8649

[1341 rows x 2 columns]

In [31]:
longitude.head(20)

                                    name of powerplant  longitude
0         Kajaki Hydroelectric Power Plant Afghanistan    65.1190
1                                         Kandahar DOG    65.7950
2                                         Kandahar JOL    65.7920
3        Mahipar Hydroelectric Power Plant Afghanistan    69.4787
4     Naghlu Dam Hydroelectric Power Plant Afghanistan    69.7170
6              Northwest Kabul Power Plant Afghanistan    69.1134
7    Pul-e-Khumri Hydroelectric Power Plant Afghani...    68.7100
8     Sarobi Dam Hydroelectric Power Plant Afghanistan    69.7757
328                                         Armenian-2    44.1498
329                                           Hrazadan    44.7479
330                                        New Yerevan    44.4973
331                              Sevan-Hrazdan Cascade    44.7606
332                                              Shamb    46.1306
333                                         Spandaryan    45.8500
334                                              Tatev    46.2578
335                                            Yerevan    44.5038
925                                          Astara ES    48.8750
926                                     Azerbaijan TPP    46.9901
927                                            Baku ES    49.9192
928                                           Baku TEC    49.9192