In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv(r"C:\Users\Sushant\Desktop\Ankita\Datasets\wine-quality-white-and-red.csv")
dataset

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6497 non-null   float64
 2   volatile acidity      6497 non-null   float64
 3   citric acid           6497 non-null   float64
 4   residual sugar        6497 non-null   float64
 5   chlorides             6497 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6497 non-null   float64
 10  sulphates             6497 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

In [4]:
dataset.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [5]:
dataset.isnull().any()

type                    False
fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [6]:
dataset.isnull().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

### Q.1) Slice a data with red wine whose fixed acidity is (greater than 5) and (less than 9).

In [7]:
dataset

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [8]:
red_data = dataset.loc[(dataset["type"]== "red") & (dataset["fixed acidity"]>=5) & (dataset["fixed acidity"]<=9),["type","fixed acidity"]]
red_data

     type  fixed acidity
4898  red            7.4
4899  red            7.8
4900  red            7.8
4902  red            7.4
4903  red            7.4
...   ...            ...
6492  red            6.2
6493  red            5.9
6494  red            6.3
6495  red            5.9
6496  red            6.0

[1155 rows x 2 columns]

In [9]:
red_data["fixed acidity"].max()

9.0

In [10]:
red_data["fixed acidity"].min()

5.0

### Q.2) Find out the wine type whose (ph>3 & ph<3.60) and show only type , ph and alcohol.

In [11]:
wine = dataset.loc[(dataset["pH"]>3.0) & (dataset["pH"]<3.60),["type","pH","alcohol"]]

In [12]:
wine

       type    pH  alcohol
1     white  3.30      9.5
2     white  3.26     10.1
3     white  3.19      9.9
4     white  3.19      9.9
5     white  3.26     10.1
...     ...   ...      ...
6492    red  3.45     10.5
6493    red  3.52     11.2
6494    red  3.42     11.0
6495    red  3.57     10.2
6496    red  3.39     11.0

[5846 rows x 3 columns]

In [13]:
wine["pH"].max()

3.59

In [14]:
wine["pH"].value_counts()

3.16    200
3.14    193
3.22    185
3.20    176
3.15    170
3.19    170
3.18    168
3.24    161
3.12    154
3.10    154
3.17    151
3.30    150
3.26    149
3.23    148
3.08    147
3.25    140
3.36    139
3.11    135
3.21    131
3.32    131
3.13    130
3.28    129
3.29    128
3.06    125
3.27    123
3.34    122
3.31    118
3.04    107
3.38    106
3.09    103
3.05     97
3.07     90
3.39     88
3.35     87
3.33     86
3.37     86
3.03     84
3.42     81
3.40     76
3.02     76
3.41     64
3.44     62
3.01     54
3.46     50
3.47     42
3.48     40
3.43     37
3.45     37
3.52     35
3.49     33
3.54     30
3.53     30
3.51     29
3.50     29
3.56     19
3.55     17
3.58     15
3.57     15
3.59     14
Name: pH, dtype: int64

In [15]:
wine.loc[(wine["pH"]==3.59) ,["type","pH","alcohol"]]

       type    pH  alcohol
1095  white  3.59     11.0
1361  white  3.59     10.6
2319  white  3.59     12.7
2364  white  3.59      9.2
2370  white  3.59     10.5
3598  white  3.59     12.3
5057    red  3.59      9.3
5743    red  3.59      9.8
5744    red  3.59      9.8
5746    red  3.59      9.8
5805    red  3.59     11.5
6052    red  3.59     11.4
6159    red  3.59     11.2
6359    red  3.59     10.0

### Q.3) Find out the wine type whose (citric acid < 0.30) and (ph > 3.5).

In [16]:
cp = dataset.loc[(dataset["citric acid"]<0.30) & (dataset["pH"]>3.5), ["type","citric acid","pH"]]
cp

       type  citric acid    pH
72    white         0.28  3.69
115   white         0.00  3.63
250   white         0.28  3.72
311   white         0.14  3.53
319   white         0.25  3.54
...     ...          ...   ...
6480    red         0.10  3.57
6485    red         0.11  3.55
6489    red         0.09  3.67
6493    red         0.10  3.52
6495    red         0.12  3.57

[221 rows x 3 columns]

In [17]:
cp["citric acid"].max()

0.29

In [18]:
cp["pH"].max()

4.01

In [19]:
cp_1 = cp.loc[(cp["citric acid"]==0.29) | (cp["pH"]==4.01),["type","citric acid","pH"]]
cp_1

       type  citric acid    pH
945   white         0.29  3.52
1385  white         0.29  3.77
2213  white         0.29  3.52
2238  white         0.29  3.60
2247  white         0.29  3.60
2251  white         0.29  3.54
2369  white         0.29  3.68
2395  white         0.29  3.54
3025  white         0.29  3.76
3311  white         0.29  3.54
4470  white         0.29  3.76
6214    red         0.00  4.01
6219    red         0.00  4.01
6335    red         0.29  3.53

### Q.4) Show the quality of wine, whose volatile acidity is between (0.2 to 0.5)

In [20]:
dataset

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [21]:
qv = dataset.loc[(dataset["volatile acidity"]>0.2) & (dataset["volatile acidity"]<0.5),["type","quality","volatile acidity"]]
qv

       type  quality  volatile acidity
0     white        6              0.27
1     white        6              0.30
2     white        6              0.28
3     white        6              0.23
4     white        6              0.23
...     ...      ...               ...
6481    red        5              0.46
6482    red        7              0.32
6483    red        6              0.39
6484    red        6              0.31
6496    red        6              0.31

[4302 rows x 3 columns]

In [22]:
qv["volatile acidity"].unique()

array([0.27 , 0.3  , 0.28 , 0.23 , 0.32 , 0.22 , 0.42 , 0.48 , 0.34 ,
       0.31 , 0.26 , 0.25 , 0.24 , 0.39 , 0.33 , 0.45 , 0.46 , 0.21 ,
       0.38 , 0.47 , 0.35 , 0.43 , 0.44 , 0.265, 0.36 , 0.305, 0.41 ,
       0.485, 0.425, 0.37 , 0.255, 0.29 , 0.4  , 0.245, 0.495, 0.335,
       0.365, 0.49 , 0.345, 0.475, 0.235, 0.225, 0.395, 0.205, 0.415,
       0.275, 0.325, 0.445, 0.385, 0.295, 0.285, 0.315, 0.375, 0.215,
       0.435, 0.455, 0.405, 0.355])

### Q.5) Show the data with type ,fixed acidity ,residual sugar ,density whose ph>3.1 and ph<3.9

In [23]:
dataset

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [24]:
dataset_1 = dataset.loc[(dataset["pH"]>3.1) & (dataset["pH"]<3.9), ["type","fixed acidity","residual sugar","density","pH"]]
dataset_1

       type  fixed acidity  residual sugar  density    pH
1     white            6.3             1.6  0.99400  3.30
2     white            8.1             6.9  0.99510  3.26
3     white            7.2             8.5  0.99560  3.19
4     white            7.2             8.5  0.99560  3.19
5     white            8.1             6.9  0.99510  3.26
...     ...            ...             ...      ...   ...
6492    red            6.2             2.0  0.99490  3.45
6493    red            5.9             2.2  0.99512  3.52
6494    red            6.3             2.3  0.99574  3.42
6495    red            5.9             2.0  0.99547  3.57
6496    red            6.0             3.6  0.99549  3.39

[4910 rows x 5 columns]